

.banner{
    width: 100%;
    height: 550px;
}

.banner img{
    position: relative;
    width: 98vw;
    height: 100%;
}

.slider-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-titulo h2{
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    color: #426B1F;
}

.container-body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

.slider-container    {
    max-width: 1400px;
    width: 95%;
}


.slider-box{
    position: relative;
}

.slider-box .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  
  .slider-box .slide-button:hover {
    background: #404040;
  }
  
  .slider-box .slide-button#prev-slide {
    left: -4%;
    display: none;
  }
  
  .slider-box .slide-button#next-slide {
    right: -4%;
  }
  
  .slider-box .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
  }
  
  .slider-box .image-list::-webkit-scrollbar {
    display: none;
  }
  
  .slider-box .image-list .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
  }
  
  .slider-container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }
  
  .slider-scrollbar:hover .scrollbar-track {
    height: 4px;
  }
  
  .slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
  }
  
  .slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
  }
  
  .slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
  }
  
  /* Styles for mobile and tablets */
  @media only screen and (max-width: 1023px) {
    .slider-box .slide-button {
      display: none !important;
    }
  
    .slider-box .image-list {
      gap: 10px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
    }
  
    .slider-box .image-list .image-item {
      width: 280px;
      height: 380px;
    }
  
    .slider-scrollbar .scrollbar-thumb {
      width: 20%;
    }
  }