.container-sign-up-product{
  width: 100%;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.container-product-info label, .container-product-info input{
  display: block;
  margin: auto;
}

.container-product-info label{
  padding-top: 20px;
}

.container-product-info input, .container-product-info textarea{
  border-radius: 5px;
  border: 1px solid #414B3B;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  text-align: center;
  padding: 5px 10px;
  width: 300px;
}

.sign-up-title{
  font-family: "League Spartan", sans-serif;
  font-size: 30px;
  color: #414B3B; 
}

.cadastrar-produto{
  border-radius: 10px;
  color: white;
  padding: 15px 20px;
  border: none;
  background-color: #777E5C;
  font-family: "Inter", sans-serif;
  font-style: normal;
  width: 250px;
  height: 45px;
  margin-bottom: 50px;
}