.submit-buttom {
  border-radius: 10px;
  color: white;
  padding: 15px 20px;
  border: none;
  background-color: #777E5C;
  font-family: "Inter", sans-serif;
  font-style: normal;
  width: 150px;
  height: 45px;
  margin: 30px 10px;
}

.container--sign-up {
  text-align: center;
  border-top: 2px solid #414B3B;
  padding: 30px 50px;
}

.container--client-info p {
  font-family: "Inter", sans-serif;
  font-size: 24px;
}

.container-verification-code {
  font-family: "Inter", sans-serif;
  margin: 20px 0px;
  font-size: 24px;
  color: #414B3B;
}

form input {
  border-radius: 5px;
  border: 1px solid #414B3B;
  padding: 5px 10px;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.error-messenger {
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: red;
  margin: 20px;
}