.container--login-info {
  width: 100%;
  text-align: center;
  border-top: 2px solid #414B3B;
  height: 55vh;
}

.container--form {
  /* border: 1px solid black; */
  margin: 10px 90px;
  padding: 50px;
}

h1 {
  font-family: "League Spartan", sans-serif;
  font-size: 40px;
  color: #414B3B;
}

form label {
  list-style-type: none;
  font-family: "League Spartan", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #414B3B;
}

form input {
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.container--form a {
  font-family: "Inter", sans-serif;
}

.container--form input {
  border-radius: 5px;
  border: 1px solid #414B3B;
  padding: 5px 10px;
}

.error-messenger {
  font-size: 25px;
  font-weight: bold;
  color: red;
  margin-bottom: 20px;
}

.submmit-bottom input {
  border-radius: 10px;
  color: white;
  padding: 15px 20px;
  border: none;
  background-color: #777E5C;
  font-family: "Inter", sans-serif;
  font-style: normal;
  width: 150px;
  height: 45px;
}