.container--sign-up{
  border-top: 2px solid #414B3B;
  padding: 20px;
  text-align: center;
}

.container--info-sign-up{
  /* border: 1px solid black; */
  text-align: center;
}

h1{
  font-family: "League Spartan", sans-serif;
  font-size: 40px;
  color: #414B3B;
}

form label {
  list-style-type: none;
  font-family: "League Spartan", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #414B3B;
}

form input {
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  text-align: center;
  padding: 5px 10px;
}

.container--info-sign-up input{
  border-radius: 5px;
  border: 1px solid #414B3B;
  padding: 5px 50px;
}

.submmit-buttom button{
  border-radius: 10px;
  color: white;
  padding: 15px 20px;
  border: none;
  background-color: #777E5C;
  font-family: "Inter", sans-serif;
  font-style: normal;
  width: 150px;
  height: 45px;
  margin: auto;
}

#btnCadastrar{
  border-radius: 10px;
  color: white;
  padding: 15px 20px;
  border: none;
  background-color: #777E5C;
  font-family: "Inter", sans-serif;
  font-style: normal;
  width: 250px;
  height: 45px;
  margin: auto;
}